<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path('5.png') %>);">
    <div class="banner-text px-3 px-md-5">
      <h1>Your trusted aesthetic travel agency in Azerbaijan</h1>
      <p>Life is too short not to have the body you deserve. <br>
      Cosmed Travel is a medical tourism agency, providing you with the best available treatment - in a safe, <br> supportive environment. Save time, money and stress - without compromising on the quality of your healthcare. <br>We can cater for most price points and ensure you get the best outcome.</p>
      <%= link_to "Book your package", "/packages", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="pricing pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-7 fw-normal text-uppercase mt-4">Choose Your Package</h1>
      <p class="fs-6 text-muted mt-3">We offer a wide range of carefully curated packages that cater to different needs and goals. Whether you're looking for a complete makeover, a specific treatment, or a rejuvenating experience, our packages are designed to provide you with a comprehensive and personalized aesthetic travel experience. With the guidance of our experienced and skilled team, you can choose from a variety of treatments and procedures that are tailored to your specific requirements. We take into consideration your desired outcome, budget, and schedule to create a package that is perfect for you.</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card-trip">
        <%= image_tag "3.png" %>
        <div class="card-trip-infos">
          <div>
            <h2 class="my-3 fw-normal">Weight-Loss Surgery</h2>
            <p>We offer a wide range of carefully curated packages that cater to different needs and goals. Whether you're looking for a complete makeover, a specific treatment, or a rejuvenating experience, our packages are designed to provide you with a comprehensive and personalized aesthetic travel experience. With the guidance of our experienced and skilled team, you can choose from a variety of treatments and procedures that are tailored to your specific requirements. We take into consideration your desired outcome, budget, and schedule to create a package that is perfect for you.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card-trip">
        <%= image_tag "1.png" %>
          <div class="card-trip-infos">
            <div>
              <h2 class="my-3 fw-normal">Aesthetic Surgery</h2>
              <p>We offer a wide range of carefully curated packages that cater to different needs and goals. Whether you're looking for a complete makeover, a specific treatment, or a rejuvenating experience, our packages are designed to provide you with a comprehensive and personalized aesthetic travel experience. With the guidance of our experienced and skilled team, you can choose from a variety of treatments and procedures that are tailored to your specific requirements. We take into consideration your desired outcome, budget, and schedule to create a package that is perfect for you.</p>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card-trip">
          <%= image_tag "10.png" %>
            <div class="card-trip-infos">
              <div>
                <h2 class="my-3 fw-normal">Dental Surgery</h2>
                <p>We offer a wide range of carefully curated packages that cater to different needs and goals. Whether you're looking for a complete makeover, a specific treatment, or a rejuvenating experience, our packages are designed to provide you with a comprehensive and personalized aesthetic travel experience. With the guidance of our experienced and skilled team, you can choose from a variety of treatments and procedures that are tailored to your specific requirements. We take into consideration your desired outcome, budget, and schedule to create a package that is perfect for you.</p>
              </div>
            </div>
          </div>
    </div>
    </div>
  </div>

</div>
